/*@import '../../vendor/livewire/flux/dist/flux.css';*/
@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;



/*body {*/
/*    background-color: white;*/
/*    color: black;*/
/*}*/


/*.dark body {*/
/*    background-color: #1f2937;*/
/*    color: white;*/
/*}*/


footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9; /* Exemplo de cor clara */
    color: #71717A; /* Exemplo de cor de texto */
    padding: 20px;
}
